div {
  background-color: #5580dd;
  border-radius: 10px;
  padding: 2px;
  padding-left: 5px;
}
.expanded {
  animation-name: expand;
  animation-duration: 250ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.notExpanded {
  animation-name: unexpand;
  animation-duration: 250ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes expand {
  from {
    height: 200px;
  }
  to {
    height: 300px;
  }
}
@keyframes unexpand {
  from {
    height: 300px;
  }
  to {
    height: 200px;
  }
}
